.token{

    width:65%;

    height:65%;

    border-radius:50%;

    border:2px solid white;

    box-shadow:0 2px 6px rgba(0,0,0,.3);

}

.token.red{

    background:#ff4b4b;

}

.token.green{

    background:#27c96a;

}

.token.blue{

    background:#3c8cff;

}

.token.yellow{

    background:#ffd23f;

}
.clickable{

    cursor:pointer;

    animation:bounce .8s infinite;

}

@keyframes bounce{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-6px);

    }

    100%{

        transform:translateY(0);

    }

}